@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=New+Tegomin&family=Noto+Serif+HK:wght@200&family=Poppins:wght@300&family=Press+Start+2P&family=Reem+Kufi+Fun&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    position: sticky;
    top: 0;
    background: white;
    box-shadow: rgba(0,0,0,0.15)2px 2px 7px;
}
.left img{
    width: 100px;
    height: 50px;
    border-radius: 40px;
}
.left img:hover{
    cursor: pointer;
}
.left ul li{
    list-style: none;
    padding: 0 25px;
    font-size: x-large;
}
.left ul li:hover{
    cursor: pointer;
}
#search{
    width: 500px;
    background-color: #ebebeb;
    border: none;
    padding: 20px;
    font-size: 15px;
    border-radius: 4px;
    font-size: large;
}
#search:focus{
    background-color: white;
}
.mx-2{
    margin: 0 12px;
    font-size: x-large;
}
.mx-2:hover{
    margin: 0 12px;
    cursor: pointer;
}
.section1{
    
}
.section2{
    margin-top: 50px;
    font-size: xx-large;

}
.section2 img{
    width: 100vw;

}
.homeImg{
    margin: 7px 0;
}
h2{
    margin-left: 60px;
    margin-bottom: 60px;
}
.foot{
    background-color: rgb(219, 219, 219);
    font-size: x-large;
    padding-top: 20px;
    height: 60vh;
    margin-top: 30px;
}
.foot a{
    padding: 0 10px;
}
a{
    text-decoration: none;
    color: black;
}
.connect h5{
    margin-left: 15px;
    margin-bottom: 10px;
}
.connect{
    margin-top: 50px;
}
#last{
    margin-left: 280px;
    margin-top: 70px;
    border-radius: 20px;
}